body {
    padding: 10px;
}

#listing_description_text{
    height:135px;
}

.no-margin-label{
    margin:0
}

#white{
    color: white;
}

@keyframes hide{
    0% {
        opacity:1;
        height: 100%;
        line-height: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }
    85%{
        opacity:0;
        height: 100%;
        line-height: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }
    100%{
        opacity:0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

#showMore_btn{
    animation-name: hide;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}